html {
    font-family: 'Afacad', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #4F6806;
    margin: auto;
}

.section1-container {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.header-container {
    color: #C4DDF1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.navbar ul {
    display: flex;
    justify-content: flex-end;
}

.navbar ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#C4DDF1;
    font-size: 24px;
}

.header-container .navbar ul li {
    padding: 10px;
    margin: 0 auto;
}

.header-logo {
    font-size: 24px;
    font-weight: 900
}

.hero {
    display: flex;
    justify-content: space-between;    
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
}

.hero-text {
    font-size: 36px;
    color:#F2F4BD
}

.hero-subtext {
    font-size: 24px;
    color:#F2F4BD
}

.signup {
    background-color: #F2F4BD;
    display: flex;
    justify-content: center;
    width: 8em;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.section2-container {
    background-color: white;
}

.information-title {
    display: flex;
    justify-content: center;
    padding: 50px;
    font-size: 36px;
    font-weight: 900
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.wrapper {
    text-align: center;
    max-width: 300px;
}

.section3-container {
    background-color: #C4DDF1;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #4F6806;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-credit {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 900
}

.section4-container {
    background: white;
    padding: 50px;
    display: flex;
    justify-content: space-around;;
}

.action-box {
    background-color: #F2F4BD;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 900px;
}

.wrapper2 {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.call-text {
    font-size: 20px; 
}

.buy {
    border-radius: 10px;
    background-color: #F2F4BD;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 125px;
    min-height: 40px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 50px;
}
